
.color-categorie-7{

  border: 2px solid rgb(182, 81, 81);
  font-weight: bold;
  color: rgb(195, 70, 70);
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-7:hover{
  cursor: pointer;
    color: rgb(144, 27, 27);
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(182, 81, 81) ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(182, 81, 81) ;
    box-shadow: 0px 0px 100px 0px  rgb(182, 81, 81) ;
}

.color-categorie-1{

  border: 2px solid rgb(142, 24, 56) ;
  font-weight: bold;
  color: rgb(147, 62, 85);
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-1:hover{
  cursor: pointer;
    color: rgb(92, 24, 42) ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(142, 24, 56)  ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(142, 24, 56)  ;
    box-shadow: 0px 0px 100px 0px  rgb(142, 24, 56)  ;
}

.color-categorie-2{

  border: 2px solid rgb(110, 170, 81) ;
  font-weight: bold;
  color: rgb(110, 170, 81);
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-2:hover{
  cursor: pointer;
    color: rgb(78, 128, 54) ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(110, 170, 81)  ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(110, 170, 81)  ;
    box-shadow: 0px 0px 100px 0px  rgb(110, 170, 81)  ;
}

.color-categorie-3{

  border: 2px solid rgb(133, 77, 179) ;
  font-weight: bold;
  color: rgb(133, 77, 179);
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-3:hover{
  cursor: pointer;
    color: rgb(92, 40, 134) ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(133, 77, 179)  ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(133, 77, 179)  ;
    box-shadow: 0px 0px 100px 0px  rgb(133, 77, 179)  ;
}

.color-categorie-4{

  border: 2px solid rgb(198, 151, 102) ;
  font-weight: bold;
  color: rgb(198, 151, 102);
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-4:hover{
  cursor: pointer;
    color: rgb(110, 74, 37);
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(198, 151, 102)  ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(198, 151, 102)  ;
    box-shadow: 0px 0px 100px 0px  rgb(198, 151, 102)  ;
}
.color-categorie-5{

  border: 2px solid rgb(80, 145, 191)  ;
  font-weight: bold;
  color: rgb(80, 145, 191) ;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-5:hover{
  cursor: pointer;
    color: rgb(44, 100, 139)  ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(80, 145, 191)   ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(80, 145, 191)   ;
    box-shadow: 0px 0px 100px 0px  rgb(80, 145, 191)   ;
}

.color-categorie-6{

  border: 2px solid rgb(182, 178, 81)   ;
  font-weight: bold;
  color: rgb(182, 178, 81)  ;
  transition: all 2s ease;
  font-family: menub;
  text-transform: uppercase;

}
.color-categorie-6:hover{
  cursor: pointer;
    color: rgb(131, 128, 45)   ;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 100px 0px  rgb(182, 178, 81)    ;
    -moz-box-shadow: 0px 0px 100px 0px  rgb(182, 178, 81)    ;
    box-shadow: 0px 0px 100px 0px  rgb(182, 178, 81)    ;
}
