.footer{
  height: 20vh;
  background-image: url(../img/search.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 0px) and (max-width: 996px) {
  .footer{
    height: 100% !important;
  }
}


.footer {
  a{
    &:hover{
        text-decoration: none !important;
    }
  }
h6 {
  margin-top: 1vh;
  text-transform: uppercase;
  -webkit-transition: color font-size 1s ease-in;
  -moz-transition: color font-size 1s ease-in;
  -o-transition: color font-size 1s ease-in;
  transition: color font-size 1s ease-in;
  font-family: textr;
  font-weight: bold;
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
  color: white;
  text-decoration: none !important;
  &:hover{
      text-decoration: none !important;
  }
}
.footer-menu-line-span{
  font-size: 0px;
  transition: font-size 1s ease;
}
.footer-menu-item:hover .footer-menu-line-span{
  font-size: 10px;
}
  li{
    list-style: none !important;
  }
  .footer-menu-line {
    height: 5px;
    transition: height 1s ease;
  }
.footer-menu-item:hover .footer-menu-line{
  height: 5vh;
}
  .footer-menu-item {
    text-align: center;
    }

  }
